body {
    margin: 0;
    padding: 0;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-item:hover {
    background: linear-gradient(to right,chocolate,brown);
    color: antiquewhite;
}
.nav-item:hover {
    color: orange;
}
.nav-item{
    font-weight: bold;
    
}